<ion-header>
  <ion-toolbar>
    <ion-title>
      My Alcometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>  
    <ion-item>
		<!-- If promilles is positioned as last item on this list then it will not update correctly ...  -->
      <ion-label>Promilles</ion-label>
      <ion-input class="promilles ion-text-right"  name="promilles" value="{{promilles|number:2.0-2}}" readonly></ion-input>	  
    </ion-item>  
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-input class="ion-text-right" type="number" name="weight" [(ngModel)]="weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-select-option *ngFor="let value of genders">{{value}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Time</ion-label>
      <ion-select [(ngModel)]="ongoing_time">
        <ion-select-option *ngFor="let value1 of ongoing_time" type="number">{{value1}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Bottles</ion-label>
      <ion-select [(ngModel)]="consumed_bottles">
        <ion-select-option *ngFor="let value2 of consumed_bottles" type="number">{{value2}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>    	
  <div class="ion-padding">
    <ion-button (click)="calculate()">Calculate!</ion-button>
  </div>
</ion-content>